@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135004,135002,135003');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

/*-- scss:defaults --*/
$headings-font-weight: 400 !default;
$font-size-root: 20px;

$body-bg: #333333;
$input-bg: $body-bg;
$navbar-bg: $body-bg;
$popover-bg: $body-bg;
$code-bg: #494e54;
$code-block-bg: $body-bg;

$body-color: #e9ecef;
$link-color: #deb887;
$code-color: $body-color;
$callout-color-note: #4486dd;
$callout-color-tip: #3bad3b;
$callout-color-important: gold;
$callout-color-warning: #f59e42;
$callout-color-caution: #d84747;

$callout-border-scale: 20%;
$callout-border-width: 5px;

$font-family-sans-serif: "Satoshi";
$font-family-monospace: "Roboto Mono";

/*-- scss:rules --*/
code, pre {
  border: none;
  border-radius: 0.25rem;
}

pre {
  background-color: $code-bg !important;
  padding: 0.5rem;
  color: $body-color;
}

h2 {
  font-weight: 400;
}

.listing-category, .quarto-category {
  margin: 0.3rem;
  color: $link-color !important;
}

.blockquote {
  border-left-width: 2px;
  border-color: darkgray;
  margin: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

nav.quarto-secondary-nav {
  border-bottom: none;
}

// div.sourceCode {
//   border: none;
//   background-color: $body-bg;
// }